<a href="https://colab.research.google.com/github/jndorosey/googlecolab/blob/main/2_3_Vis_Tabular_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import shutil

In [16]:
import seaborn as sns

In [17]:
import pandas as pd

In [18]:
import numpy as np

In [26]:
# Load the .csv file into a pandas dataframe named afl 

afl = pd.read_csv('fryziggafl.csv')

In [21]:
import matplotlib.pyplot as plt

In [22]:
import io

In [27]:
import pandas as pd

In [28]:
data = pd.read_csv ('/content/fryziggafl.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8,18,24,79,80) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
data.head()

,Unnamed: 0,venue_name,match_id,match_home_team,match_away_team,match_date,match_local_time,match_attendance,match_round,match_home_team_goals,...,intercept_marks,marks_on_lead,pressure_acts,rating_points,ruck_contests,score_launches,shots_at_goal,spoils,subbed,player_position
0,1,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
1,2,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
2,3,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
3,4,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
4,5,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN

In [33]:
import pandas as pd
pd.read_csv('/content/fryziggafl.csv', low_memory=False)

,Unnamed: 0,venue_name,match_id,match_home_team,match_away_team,match_date,match_local_time,match_attendance,match_round,match_home_team_goals,...,intercept_marks,marks_on_lead,pressure_acts,rating_points,ruck_contests,score_launches,shots_at_goal,spoils,subbed,player_position
0,1,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
1,2,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
2,3,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
3,4,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
4,5,Brunswick St,1,Fitzroy,Carlton,1897-05-08,15:00:00,3000,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Subbed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655658,655659,MCG,16355,Geelong,Sydney,2022-09-24,14:30:00,0,Grand Final,20,...,0.0,0.0,22.0,29.9,0.0,1.0,3.0,0.0,NaN,INT
655659,655660,MCG,16355,Geelong,Sydney,2022-09-24,14:30:00,0,Grand Final,20,...,1.0,1.0,19.0,20.0,0.0,1.0,2.0,1.0,NaN,HFFL
655660,655661,MCG,16355,Geelong,Sydney,2022-09-24,14:30:00,0,Grand Final,20,...,0.0,1.0,16.0,5.8,0.0,0.0,0.0,3.0,NaN,INT
655661,655662,MCG,16355,Geelong,Sydney,2022-09-24,14:30:00,0,Grand Final,20,...,0.0,0.0,4.0,2.4,0.0,0.0,0.0,2.0,NaN,SUB
655662,655663,MCG,16355,Geelong,Sydney,2022-09-24,14:30:00,0,Grand Final,20,...,3.0,0.0,5.0,8.6,0.0,1.0,1.0,4.0,NaN,BPL

Warning: Total number of columns (81) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (655663) exceeds max_rows (20000). Limiting to first (20000) rows.